{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1>TennisFreedom</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>

<div class="productList">

<div class="product">
     <img src="https://ir-3.ozone.ru/s3/multimedia-m/c1000/6818098054.jpg">
    <div>
        <h2>Теннисная Сумка</h2>
        <p>Теннисная Сумка – это очень удобная вещь для переноски ракеток, кросовок, мячей, полотенец и так далее.</p>
    </div>
        <div class="priceSection">
        <h3>15 500 ₽</h3>
        <button>Купить</button>
    </div>
</div>


<div class="product">
    <img src="https://ir-3.ozone.ru/s3/multimedia-d/c1000/6281000317.jpg">
     <div>
        <h2>Теннисная Ракетка</h2>
        <p>Теннисная Ракетка — это главный инструмент для игры в теннис!

Именно этой вещью отбиваются теннисные мячи.</p>
    </div>
    <div class="priceSection">
        <h3>20 999 ₽</h3>
        <button>Купить</button>
    </div>
</div>
</div>